<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" type="gif" href="{% static 'nucleo/imagenes/tenor.gif' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    
    <link type="text/css" rel="stylesheet" href="{% static 'nucleo/css/estilos.css' %}">
    
    <title>Recuperar contraseña</title>
    <!--Para quitar la barra de arriba del traductor-->
    <style type="text/css">
        body{
            top: 0 !important;
        }
        .goog-te-banner-frame{
            display: none;
        }
        </style>
    <style>
        /* fondo */
        body {
            background-image: url("{% static 'nucleo/imagenes/fondoprueba3.png' %}");
            background-repeat: repeat;
            background-color: rgba(209, 209, 171, 0.473);
        }
    </style>

    <!--FIN Logos redes sociales-->

    <script type="text/javascript">
        $(document).ready(function(){



            $("#mensaje_error").hide(); //Estoy ocultando el div
            $("#formulario_recuperacion").submit(function(){
            var mensaje = "Debes Solucionar los errores para poder Actualizar contraseña";


            
            if($("#contraseña").val().trim().length == 0){
                    mensaje = mensaje + "<br>El campo Contraseña no puede estar vacio";
                }

                if($("#contraseña").val().trim().length < 10){
                    mensaje = mensaje + "<br>El campo Contraseña debe tener al menos 10 caracteres";
                }

            if(mensaje != "Debes Solucionar los errores para poder Actualizar contraseña"){
                $("#mensaje_error").html(mensaje); //mostrando el texto de la variable en el div
                $("#mensaje_error").show(); //haciendo visible mi div
                event.preventDefault(); //evito que el formulario se envie
            }

        });


        });

    </script>
</head>

<body>

    <script type="text/javascript"> 
    
        function googleTranslateElementInit(){
            new google.translate.TranslateElement({pageLenguage: 'es',layout: google.translate.TranslateElement.InlineLayout.SIMPLE},
            'google_translate_element');
        }
        </script>
        <script type="text/javascript"
        src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit" ></script>
    <div id="google_translate_element"></div>

    <!-- recuperacion de contraseña-->
    <div class="container" style="margin-top: 17%;">
        

            <form action="home.html" method="GET" name="formulario_recuperacion" id="formulario_recuperacion" class="elememto formulario_reg">
                <div id="mensaje_error" class="alert alert-danger"></div>
                <h1 style="text-align: center;">Escriba su nueva contraseña</h1>
                
                <div class="form-group">
                    <label style="margin-left: 5px;" for="contraseña" class="cambioletra">Nueva contraseña</label>
                    <input type="password" class="form-control" name="contraseña" id="contraseña" placeholder="Ingrese nueva contraseña">
                </div>
                     <div class="form-group" style="text-align: center;">
                    a<button type="submit" class="btn btn-danger">Actualizar</button>


                </div>
            </form>
        
    </div>

    

    
</body>

</html>