<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="icon" type="gif" href="{% static 'nucleo/imagenes/tenor.gif' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'nucleo/css/estilos.css' %}">

    <title>Seccion Gatuna</title>
    <!--Para quitar la barra de arriba del traductor-->
    <style type="text/css">
        body {
            top: 0 !important;
        }

        .goog-te-banner-frame {
            display: none;
        }
    </style>
    <!--Logos redes sociales-->
    <!--uwu
                padding:  tamaño del ciculito del logo , que tan ancho lo quieres.
                font-size: Tamaño de los logos
                width: Tamaño del circulito donde estan los logos
                text-align: ?
                text-decoration: color texto
                margin: separacion entre los logos , el primero es el margin top y bottom , el segundo es de left and rigth
                border-radius: darle borde circular  al logo.
        -->
    <style>
        .fa {
            padding: 20px;
            font-size: 30px;
            width: 60px;
            text-align: center;
            text-decoration: none;
            margin: 5px 2px;
            border-radius: 50%;
        }

        .fa-facebook {
            background: #3B5998;
            color: white;
        }

        .fa-youtube {
            background: #bb0000;
            color: white;
        }

        .fa-instagram {
            background: #125688;
            color: white;
        }

        /* fondo */
        body {
            background-image: url("{% static 'nucleo/imagenes/fondoprueba3.png' %}");
            background-repeat: repeat;
            background-color: rgba(209, 209, 171, 0.473);
        }
    </style>
    <!--FIN Logos redes sociales-->

    <!--Modo oscuro-->
    <script type="text/javascript">
        function cambiarModo() {
            var cuerpoweb = document.body;
            cuerpoweb.classList.toggle("oscuro");
        }
    </script>

</head>

<body>

    <script>
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({ pageLenguage: 'es', layout: google.translate.TranslateElement.InlineLayout.SIMPLE },
                'google_translate_element');
        }
    </script>

    <script type="text/javascript"
        src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    <!--enlaces-->
    <nav class="navbar navbar-expand-md bg-danger navbar-dark color_navbar">
        <a class="navbar-brand colorletranav perrigatos"><img class="imagen_navbar"
                src="{% static 'nucleo/imagenes/tenor.gif' %}">PerriGatos</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link colorletranav cambiocolor" href="{% url 'home' %}">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link colorletranav cambiocolor" href="{% url 'Seccionperruna' %}">Perros</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link colorletranav cambiocolor" href="{% url 'secciongatuna' %}">Gatos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link colorletranav cambiocolor" href="{% url 'seccionotros' %}">Otros</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link colorletranav cambiocolor" href="{% url 'contactanos' %}">Contactanos</a>
                </li>
                <li class="nav-item">
                    {% for u in usuario%}
                    
                            {% if u.alias == user.username%}
                            
                            {% for c in carrito%}
                            {% if u.id_usuario == c.usuario.id_usuario%}
                            <a class="nav-link colorletranav cambiocolor" href="{% url 'carrito' c.id_carrito %}">Carrito</a>
                            {% endif %}
                            {%endfor%}
                            {% endif%}
                            {% endfor %}
                </li>
                <li class="nav-item" style="padding-top: 10px;">
                    <a class="nav-link colorletranav cambiocolor">
                        <div id="google_translate_element"></div>
                    </a>
                </li>
                <li class="nav-item">
                    <img src="{% static 'nucleo/imagenes/moon_icon_159962.png' %}" alt="icono luna" class="icono_luna"
                        onclick="cambiarModo()" style="margin-left: 10%;">
                </li>




            </ul>
        </div>
        <div class="search-container">

            <a href="{% url 'lista_regiones' %}" style="color: rgb(0, 0, 0);">Registrarte</a>
            {% if user.is_authenticated %}
            <!--{{user.usuario.modo_osc}}-->
            <p>Bienvenido {{user.username}}</p>
            <a href="{% url 'CerrarSesion' %}" style="color: rgb(0, 0, 0);"> Cerrar Sesion </a>
            
            <a href="{% url 'mod_us_p'%}">Modificar Usuario</a>
            
                        
            {% else %}
            <a href="{% url 'inicioSesion' %}" style="color: rgb(0, 0, 0);"> Iniciar Sesion </a>
            {% endif %}
        </div>

    </nav>
    <!--MENU FIN PRINCIPAL-->

    <!--carrito-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <form action="{% url 'mod_cantidad2' %}" method="POST" name="formulario_carrito" id="formulario_carrito0">
                    {% csrf_token %}
                    <h1 class="titulo_secciones">Carrito</h1>
                    <table border="2" style="margin:  4em auto; width: 100em; height: 20em;">
                        {% for x in carro %}
                        <tr style="background: rgb(212, 204, 204);">



                            <td style="text-align: center;"><img src="{{ x.producto.foto_pro.url }}"
                                    alt="imagen_carrito" style="width: 10em; height: 10em;">
                                <input type="hidden" value="{{x.id_pro_carr}}" name="codigo" id="codigo"></td>

                            <td><label for="cantidad_p">Cantidad de producto :</label><input type="number"min = '1'
                                    value="{{x.canti_pro}}" id="cantidad_p" name="cantidad_p"></td>
                            
                            
                            <td style="padding: 2%; font-weight: 900; text-align: center;"> Sub total : {{x.sub_total}}
                                <a href="{% url 'eliminar_carro' x.id_pro_carr %}" class="btn btn-danger">Eliminar</a>
                               <!--<a href="{% url 'mod_cantidad' x.id_pro_carr %}" class="btn btn-primary">Modificar</a>-->
                               <button
                                type="submit" class="btn btn-warning">Modificar</button> 
                            </td>



                        </tr>
                        {% endfor %}
                        {%if total.sum1 is None %}
                        <p style="font-size: xx-large; text-align: center;"> Total: $ 0 
                            <a href="{% url 'pago' car.id_carrito %}" class="btn btn-warning">Pagar</a></p>
                        {% else %}
                        <p style="font-size: xx-large; text-align: center;"> Total: $ {{total.sum1}} <a href="{% url 'pago' car.id_carrito %}" class="btn btn-warning">Pagar</a></p>
                            
                        {% endif%}
                        <a href="{% url 'pago' car.id_carrito %}"><h1>ASDFIJHSADJFADSH</h1></a>
                    </table>



                </form>

            </div>

        </div>
    </div>



    <!--PIE DE PAGINA-->
    <footer>



        <div class="container-fluid  ">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 img_pie2 "
                    style="margin-top: 50% !important;">
                    <img src="{% static 'nucleo/imagenes/banneruwu.png' %}" alt="banner"
                        style="width: 100%; height: 100%;">
                </div>



            </div>
            <div class="row ">
                <div class="col-md-12 col-sm-12 col-lg-12 col-12 pie_pagina ">

                    <p class="letra_pie_pag sec1_pie">
                        Numero de contacto : <b>+56912345678</b>
                        <br>
                        Nuestras redes sociales :
                        <br>
                        <a href="#" class="fa fa-facebook"
                            style="padding-right: 30px;padding-top: 11px; padding-bottom: 11px;"></a>
                        <a href="#" class="fa fa-instagram"
                            style="padding-right: 30px;padding-top: 11px; padding-bottom: 11px;"></a>
                        <a href="#" class="fa fa-youtube"
                            style="padding-right: 30px;padding-top: 11px; padding-bottom: 11px;"></a>
                    </p>



                    {% if user.is_superuser == 1 %}
                    <a href="{% url 'listado'%}" class="btn btn-danger" style="margin-bottom: 1%;">Ver listado
                        productos</a>
                        <a href="{% url 'listar_us' %}" class="btn btn-danger" style="margin-bottom: 1%;">Ver listado
                            usuarios</a>
                    {% else %}

                    {% endif %}

                </div>
            </div>
        </div>
    </footer>

    <!--FIN pie de pagina-->
</body>

</html>