<!DOCTYPE html>
<html lang="en">
{% load static %}
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <link rel="icon" type="gif" href="{% static 'nucleo/imagenes/tenor.gif' %}">
        <link type="text/css" rel="stylesheet" href="{% static 'nucleo/css/estilos.css' %}">
        <title>Registro </title>

        <style type="text/css">
            body{
                top: 0 !important;
            }
            .goog-te-banner-frame{
                display: none;
            }
            </style>
        
        <style>
      body {
        background-image: url("{% static 'nucleo/imagenes/fondoprueba3.png' %}");
        background-repeat: repeat;
        background-color: rgba(209, 209, 171, 0.473);
    }
        </style>

        <script type="text/javascript">
            $(document).ready(function(){
                var input=  document.getElementById('postal');
                input.addEventListener('input',function(){
                if (this.value.length > 7) 
                this.value = this.value.slice(0,7); 
                })

                var input=  document.getElementById('telefono');
                input.addEventListener('input',function(){
                if (this.value.length > 9) 
                this.value = this.value.slice(0,9); 
                })

                
                $("#mensaje_error").hide(); //Estoy ocultando el div
                $("#formulario_contacto").submit(function(){
                var mensaje = "Debes Solucionar los errores para poder Registrarte";

                if($("#usuario").val().trim().length == 0){
                    mensaje = mensaje + "<br>El campo Nombre Usuario no puede estar vacio";
                }

                if($("#contraseña").val().trim().length == 0){
                    mensaje = mensaje + "<br>El campo Contraseña no puede estar vacio";
                }

                if($("#contraseña").val().trim().length < 10){
                    mensaje = mensaje + "<br>El campo Contraseña debe tener al menos 10 caracteres";
                }

                if($("#nombre").val().trim().length == 0){
                    mensaje = mensaje + "<br>El campo Nombre Completo no puede estar vacio";
                }
                
                if(isNaN($("#telefono").val())){
                    mensaje = mensaje + "<br>El teléfono solo puede contener números";
                }
                if($("#telefono").val().trim().length < 9){
                    mensaje = mensaje + "<br>El campo telefono debe de ser de un largo de 9 caracteres";
                }

                if($("#ciudad").val().trim().length == 0){
                    mensaje = mensaje + "<br>El campo Ciudad no puede estar vacio";
                }

                if($("#direccion").val().trim().length == 0){
                    mensaje = mensaje + "<br>El campo Direccion no puede estar vacio";
                }

                if($("#postal").val().trim().length == 0){
                    mensaje = mensaje + "<br>El campo Postal no puede estar vacio";
                }

                if(mensaje != "Debes Solucionar los errores para poder Registrarte"){
                    $("#mensaje_error").html(mensaje); //mostrando el texto de la variable en el div
                    $("#mensaje_error").show(); //haciendo visible mi div
                    event.preventDefault(); //evito que el formulario se envie
                }


            });

            $("#nombre").keypress(function (key) {
                window.console.log(key.charCode)
            if ((key.charCode < 97 || key.charCode > 122)//letras mayusculas
                && (key.charCode < 65 || key.charCode > 90) //letras minusculas
                && (key.charCode != 45) //retroceso
                && (key.charCode != 241) //ñ
                 && (key.charCode != 209) //Ñ
                 && (key.charCode != 32) //espacio
                 && (key.charCode != 225) //á
                 && (key.charCode != 233) //é
                 && (key.charCode != 237) //í
                 && (key.charCode != 243) //ó
                 && (key.charCode != 250) //ú
                 && (key.charCode != 193) //Á
                 && (key.charCode != 201) //É
                 && (key.charCode != 205) //Í
                 && (key.charCode != 211) //Ó
                 && (key.charCode != 218) //Ú
 
                )
                return false;
        });
            });

            document.getElementById('hablar').addEventListener("click",()=>{
         decir(document.getElementById("texto").value);
        });

        function decir(texto){
         speechSynthesis.speak(new SpeechSynthesisUtterance(texto));
            }

        </script>
    </head>

<body>

    <script type="text/javascript"> 
    
        function googleTranslateElementInit(){
            new google.translate.TranslateElement({pageLenguage: 'es',layout: google.translate.TranslateElement.InlineLayout.SIMPLE},
            'google_translate_element');
        }
        </script>
        <script type="text/javascript"
        src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit" ></script>
    <div id="google_translate_element"></div>

    <div class="container" style="margin-top: 5%; margin-bottom: 3%;">
        <fieldset>
            
            <form action="home.html" method="GET" name="formulario_contacto" id="formulario_contacto" class="formulario_reg">
                <h1>Registro Cuenta PerriGatos</h1> 
                <div id="mensaje_error" class="alert alert-danger"></div>
                
               <div class="form-group" >
                    <label for="usuario">Nombre Usuario</label>
                    <input type="text" class="form-control" name="usuario" id="usuario"
                        placeholder="Ingrese su nombre de usuario" >
                </div>
                
                <div class="form-group" >
                    <label for="contraseña">Contraseña</label>
                    <input type="password" class="form-control" name="contraseña" id="contraseña"
                        placeholder="Ingrese su contraseña" >
                </div>

                <div class="form-group" >
                    <label for="nombre">Nombre Completo</label>
                    <input type="text" class="form-control" name="nombre" id="nombre"
                        placeholder="Ingrese su nombre completo" >
                </div>
                <div class="form-group">
                    <label for="correo">Correo Electrónico</label>
                    <input type="email" class="form-control" name="correo" id="correo" placeholder="ejemplo@ejemplo.com">
                </div>
    
                <div class="form-group">
                    <label for="ciudad">Ciudad</label>
                    <select name="ciudad" id="ciudad" class="form-control" placeholder="Seleccione alguna ciudad">
                        
                        <option value="santiago">Santiago</option>
                        <option value="rancagua">Rancagua</option>
                        <option value="talca">Talca</option>
                        <option value="concepcion">Concepción</option>
                        <option value="valdivia">Valdivia</option>
                    </select>
                </div>
    
                <div class="form-group">
                    <label for="direccion">Direccion</label>
                    <input type="text" class="form-control" name="direccion" id="direccion" placeholder="Ingrese su direccion">
                </div>
                
                <div class="form-group">
                    <label for="postal">Codigo Postal</label>
                    <input type="number" class="form-control" name="postal" id="postal"
                        placeholder="Ingrese su Codigo Postal">
                </div>
        
                <div class="form-group">
                    <label for="telefono">Número de Teléfono</label>
                    <input type="tel" class="form-control" name="telefono" id="telefono"
                        placeholder="Ingrese su numero de telefono">
                </div>
        
                <div class="form-group" style="text-align: center;">
                    <button type="submit" class="btn btn-danger">Registrarse</button>
                    <button type="reset" class="btn btn-danger">Limpiar campos</button>
                    
                </div>
                <div > <a href="{% url 'home' %}"><input type="button" class="btn btn-danger" value="Vovler a pagina de inicio"></a></div>

                
        
        
        
            </form>
        </fieldset>
        
        
</body>
